.quote {
    padding: 4em 1em 2em 1em;
    text-align: center;
}

.quote p.quote-content{
    font-size: 1.5em;
}

.quote .quote-author {
    width: 18em;
    margin: 2em auto;
    overflow: auto;
}

.quote .quote-author p {
    opacity: 0.6;
    text-align: left;
    margin-top: 0.25em;
}

.quote .quote-author img {
    width: 4em;
    margin-right: 1em;
}

.problem {
    padding: 3em 1em;
}

.problem h4{
    font-size: 1.125em;
    font-weight: 900;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.problem p{
    line-height: 1.75em;
}

.problem img{
    margin-top: 2em;
    width: 50%;
}

.product-intro {
    padding: 4em 0 0 0;
}

.product-intro h3{
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.product-intro img {
    width: 75%;
    margin: 3em 0 0 0;
}

h2.large-sell-header {
    font-size: 1.75em;
    font-weight: 900;
    margin: 2em 1em;
    line-height: 1.5em;
}


.sell-section {
    padding: 3em;
}

.sell-text {
    text-align: left;
}

.sell-text h2{
    font-size: 1.25em;
    font-weight: 900;
    margin-top: 1em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
}

.sell-text h6{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.75em;
    margin-top: 2em;
    margin-bottom: 2em;
    opacity: 0.6;
}

.sell1-image img{
    width: 75%;
    max-width: 40em;
}

.sell2-image img{
    width: 100%;
    max-width: 40em;
}

.sell3-image img{
    width: 100%;
    max-width: 40em;
}

ul.industry-list {
    list-style-type: none;
    padding: 0;
    font-size: 0.875em;
}

ul.industry-list li{
    margin-bottom: 0.75em;
}

ul.industry-list svg {
    margin-right: 0.5em;
}

ul.industry-list span {
    opacity: 0.6;
}


.whats-inside {
    padding: 2em;
}

.product-item {
}

.product-item h4{
    font-size: 1em;
    font-weight: 900;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    padding-bottom: 1em;
    text-align: center;
}
.blue-deco-line {
    width: 50%;
    border-bottom: 4px solid #1147FF;
    margin: 0 auto;
}

.pro-kit-tag {
    font-size: 0.75em;
    color: #1147FF;
    margin-left: 0.5em;
}

.pro-kit-tag svg{
    margin-right: 0.25em;
}

.product-item img {
    margin: 1.5em;
}

.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.brick {
    margin-top: 4em;
}

/* PRICING */

.panel-header {
    background: #3FD9C7;
    padding: 2em;
    text-align: center;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    margin-top: 1em;
}

.panel-header h4 {
    font-size: 1.25em;
    font-weight: 900;
    color: #fff;
    letter-spacing: 0.05em;
}

.panel-header p.price-number {
    font-size: 2em;
    font-weight: 900;
    color: #fff;
}

.price-panel {
    border-radius: 0.25em;
    border: 0 solid #EDF4F7;
    box-shadow: 0 12px 25px 0 rgba(0,0,0,0.05);
    padding: 2.5em;
}

.price-panel ul {
    list-style: none;
    padding: 0;
}

.price-panel ul li{
    margin-bottom: 1.5em;
    line-height: 1.75em;
    letter-spacing: 0.05em;
}

.price-panel .buy-button{
    width: 100%;
    background-color: #FF7714;
    border: 1px solid #FF7714;
    color: #fff;
    padding: 1em 0;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 1em;
}

.price-panel .buy-button:hover {
    width: 100%;
    background-color: #fff;
    border: 1px solid #FF7714;
    color: #FF7714;
}